
<app-search (search)="FilterList($event)"></app-search>
<div *ngIf="students.length>0; then list else nolist">


</div>

<ng-template #list>
 <table class="table table-striped">
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Address </th>
        <th> Date of Birth </th>
    </tr>
    <tr *ngFor="let student of filterRecords">
        <td> {{student.id}} </td>
        <td>{{student.name}} </td>
        <td>{{student.address}} </td>
        <td>{{student.dob}} </td>
    </tr>
 </table>

</ng-template>
<ng-template #nolist>
    
<h1> No Students </h1>
</ng-template>