<p>parent works!</p>

{{name}}

 <!-- add()

 function add()
 {

 }

 add(2,3)

 function add(int x, int y)
 {

 } -->

 <!-- <button (click)="Function()"> </button> -->
<app-child> </app-child>
 Transfer variable name from parent to child component
<app-child data={{name}}> </app-child>


<app-child data={{name}} (call)="FunctionInvokedFromChildComp()"> </app-child>



<app-child data={{name}} (call1)="FunctionInvokedFromChildCompWithSomeValue($event)"> </app-child>
