<p>child works!</p>

{{data}}

// template reference variable
<input type="text" [value] ="data" #name> 

<button (click)="call.emit()"> Call Function in Parent comp</button>


<button (click)="call1.emit('ajay sood')"> Send value to Parent comp</button>



<button (click)="SendValue(name.value)"> Send value to Parent comp</button>